.image-block {
  margin-bottom: 30px;
}

.image-block__edite-block {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.image-block__checkbox {
  margin-right: 10px;
}

.image-block__image {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  display: block;
}
