.task-page__content {
  width: 100vw;
  max-width: 1120px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000040;
  box-sizing: border-box;
  overflow: hidden;
}

.task-page__wrapper {
  padding: 20px 0;
}

.todo-app {
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .task-page__content .ant-modal-body {
    padding: 10px;
  }
}
