.ant-table-wrapper {
  margin: 20px;
}

.urlshref {
  color: blue;
}

.red {
  color: red;
  background-color: #000;
}

.green {
  background-color: green;
}

.table-row-light {
  background-color: #ffffff;
  cursor: pointer;
}

.table-row-dark {
  background-color: #c4e7ff !important;
  cursor: pointer;
}

.table-row-dark:hover {
  background-color: #c4e7ff !important;
  cursor: pointer;
}


.custom {
  background-color: #63ab91;
}

.custom2 {
  background-color: #bde04a;
}

.black {
  background-color: rgb(206, 193, 193);
}
